@media screen  {
	.lwy_content{margin-left:240px;}	
}

@media screen and (max-width:640px){
	.lwy_content{margin-left:0px;}
}

/*@media screen and (max-width:640px){ 
    element{ color:#ff0000; } //屏幕宽度小于640px时显示红色字体
}
@media screen and (max-width:480px){ 
    element{ color:#0000ff; } //屏幕宽度小于480px时显示蓝色字体
}*/